@media only screen and (max-width: 1570px) {
    .authorizationButtons {
        display: none;
    }
}

@media only screen and (max-width: 1350px){
    .navigationBar li a, .langDropdown {
        display: none;
    }   
}

@media only screen and (min-width: 1350px) {
    .navigationBar li .hamButton {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .companyLogo h3 {
        font-size: 15px;
    }  

    .companyLogo img {
        width: 40px;
        height: 40px;
    }

    :root {
        --header-size: 60px;
    }
}

