@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

:root {
    --header-size: 80px;
}

.pageHeader {
    height: var(--header-size);
    width: 100%;
    background-color: #166466;
    box-shadow: 5px 1px 7px #2C3531;
    position: fixed;
    top: 0;
    left: 0;
}

    .pageHeader img {
        margin-left: 10px;
        margin-right: 10px
    }


.navigationBar {
    display: flex;
    align-items: center;
    height: var(--header-size);
    justify-content: flex-end;
    margin-right: 10px;
}

    .navigationBar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .navigationBar li {
        float: right;
    }

        .navigationBar li a {
            display: block;
            color: gold;
            text-shadow: 1px 1px 2px black;
            font-size: 15px;
            font-family: 'Raleway';
            font-weight: 500;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            .navigationBar li a:after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background: orange;
                transition: width .3s;
            }

            .navigationBar li a:hover:after {
                width:100%;
            }



.hamButton {
    background-color: transparent;
    border: none;
}

.companyLogo {
    display: flex;
    height: var(--header-size);
    align-items: center;
    float: left;
    overflow: hidden;
}

    .companyLogo h3 {
        color: white;
        display: inline;
        text-shadow: 2px 1px 2px black;
        font-size: 26px;
        font-family: Impact;
        font-weight: bold;
        margin-top: 10px;
        text-align: center;
    }

.page Header MenuItem {
    color: white;
}


.authorizationButtons {
    position: relative;
    display: inline-block;
    
}

    .authorizationButtons button {
        background-color: transparent;
        color: white;
        padding: 6px;
        font-size: 15px;
        font-family: Calibri;
        border-width: 0.5px;
        border-radius: 3px;
        border-color: white;
        cursor: pointer;
        border-radius: 5px;
        margin-left: 10px;
    }



.langButton {
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 12px;
    font-family: Calibri;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
}

.langDropdown {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.langList {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 55px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0px 0px 5px 5px;
}

    .langList a {
        color: gray;
        padding: 6px 8px;
        text-decoration: none;
        display: block;
    }

        .langList a:hover {
            background-color: #f1f1f1
        }

.langDropdown:hover .langList {
    display: block;
    
}

.langDropdown:hover .langButton {
    background-color: #196e70;
}
