div .pageHeader {
    height: 100px;
    background-color: #e6e6e6;
    box-shadow: 5px 10px 18px #888888;
}

    div .pageHeader img {
        margin-left: 10px;
        margin-right: 20px
    }

.navigationBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: large;
    margin-right: 20px;
    display: block;
    overflow: hidden;
    vertical-align: middle;
}

.navigationBar li {
    display: inline;
    margin-right: 20px;
    margin-top: 35px;
    float: right;
}

    .navigationBar li a {
        color: maroon;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
        text-decoration: none;
        font-size: 22px;
        margin: 0px 10px;
    }

        .navigationBar li a:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            right: 0;
            bottom: 0;
            background: orange;
            height: 4px;
            -webkit-transform: translateY(4px);
            transform: translateY(4px);
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        .navigationBar li a:hover:before, .navigationBar li a:focus:before, .navigationBar li a:active:before {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }


    .navigationBar li button {
        background-color: #e6e6e6; /* Green */
        border: none;
        border-radius: 5px;
        color: gray;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: -6px;
        margin-right: 6px;
        box-shadow: 1px 1px 3px black;
        font-family: Calibri
    }

.container {
    background-color: #e6e6e6;
    height: Calc(100vh - 100px);
    width: 100%
}

.companyLogo {
    color: white;
    text-shadow: 3px 1px 3px black;
    display: inline;
    float: left;
    overflow: hidden;
    font-family: Impact;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}


.languageSelection {
    display: inline;
    float: right;
    overflow: hidden;
}

.companyLogo h2 {
}
