

.container {
    background-color: #166466;
    height: Calc(100vh - 80px);
    width: 100vw;
    padding: 0;
}

.rowForHome {
    padding-top: 80px;
    margin-right: -15px;
    margin-left: -15px;
}

